﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/Allscripts")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="top-bar" class="container">
        <div class="row">
            <div class="span4">
                @*<form method="POST" class="search_form">
                    <input type="text" class="input-block-level search-query" Placeholder="Pretraga">
                </form>*@
                <a href="@Url.Action("Index","Home")" class="logo pull-left"><img src="~/Content/themes/images/logo.png" class="site_logo" alt=""></a>
            </div>
            <div class="span8">
                <div class="account pull-right">
                    <ul class="user-menu">
                        <li><a href="@Url.Action("Index","Auction")">Browse auctions</a></li>
                        <li id="register1"><a  href="@Url.Action("Register","User")">Register</a></li>
                        <li id="login1"><a  href="@Url.Action("Login","User")">Login</a></li>
                        <li id="myAcc"><a href="@Url.Action("Change","User")">My Account</a></li>
                        <li id="logout"><a  href="@Url.Action("LogOff","User")">Logout</a></li>
                        <li id="myOrders"><a href="@Url.Action("Index","Order")">My Orders</a></li>
                        <li id="createAuction"><a href="@Url.Action("Create","Auction")">Create Auction</a></li>
                        <li id="listWon"><a href="@Url.Action("ListWon","Auction")">Won Auctions</a></li>
                        <li id="openAuctions"><a href="@Url.Action("OpenAuctions","Auction")">Open Auctions</a></li>
                        <li id="changeParameters"><a href="@Url.Action("Index","Constant")">Change Parameters</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="wrapper" class="container">
        <section class="navbar main-menu">
            <div class="navbar-inner main-menu">
                
                @*<nav id="menu" class="pull-right">
                    <ul>
                        <li>
                            <a href="./products.html">Woman</a>
                            <ul>
                                <li><a href="./products.html">Lacinia nibh</a></li>
                                <li><a href="./products.html">Eget molestie</a></li>
                                <li><a href="./products.html">Varius purus</a></li>
                            </ul>
                        </li>
                        <li><a href="./products.html">Man</a></li>
                        <li>
                            <a href="./products.html">Sport</a>
                            <ul>
                                <li><a href="./products.html">Gifts and Tech</a></li>
                                <li><a href="./products.html">Ties and Hats</a></li>
                                <li><a href="./products.html">Cold Weather</a></li>
                            </ul>
                        </li>
                        <li><a href="./products.html">Hangbag</a></li>
                        <li><a href="./products.html">Best Seller</a></li>
                        <li><a href="./products.html">Top Seller</a></li>
                    </ul>
                </nav>*@
            </div>
        </section>
        @RenderBody()
        <section id="footer-bar">
            <div class="row">
                <div class="span3">
                    <h4>Navigation</h4>
                    <ul class="nav">
                        <li><a href="@Url.Action("Index","Home")">Homepage</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a id="register2"href="@Url.Action("Register","User")">Register</a></li>
                        <li><a id="login2"href="@Url.Action("Login","User")">Login</a></li>
                    </ul>
                </div>
                <div class="span4">
                    @*<h4>My Account</h4>
                    <ul class="nav">
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Order History</a></li>
                        <li><a href="#">Wish List</a></li>
                        <li><a href="#">Newsletter</a></li>
                    </ul>*@
                </div>
                <div class="span5">
                    <p class="logo"><img src="~/Content/themes/images/logo.png" class="site_logo" alt=""></p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
                    <br />
                    @*<span class="social_icons">
                        <a class="facebook" href="#">Facebook</a>
                        <a class="twitter" href="#">Twitter</a>
                        <a class="skype" href="#">Skype</a>
                        <a class="vimeo" href="#">Vimeo</a>
                    </span>*@
                </div>
            </div>
        </section>
        <section id="copyright">
            <span>Copyright 2018 Uroš Kulundžić All rights reserved.</span>
        </section>
        </div>
</body>
</html>
<script>
    jQuery(document).ready(function () {
        if ("FALSE" != '@UserEnvironment.Current.IsUserLoggedIn'.toUpperCase()) {
            $("#register1").hide();
            $("#register2").hide();
            $("#login1").hide();
            $("#login2").hide();
            $("#myAcc").show();
            $("#logout").show();
            $("#myOrders").show();
            $("#createAuction").show();
            $("#listWon").show();
            $('#openAuctions').show();
            $('#changeParameters').show();
        }
        else {
            $('#openAuctions').hide();
            $("#register1").show();
            $("#register2").show();
            $("#login1").show();
            $("#login2").show();
            $("#myAcc").hide();
            $("#logout").hide();
            $("#myOrders").hide();
            $("#createAuction").hide();
            $("#listWon").hide();
            $('#changeParameters').hide();
        }
        setTimeout(function () {
            $("#messageDiv").slideUp('slow');
        }, 4000);
    })
</script>