﻿@model List<Aukcije.DataModel.Constant>
@{
    ViewBag.Title = "Change Parameters";
}
@Html.Partial("~/Views/Shared/_StatusMessage.cshtml")
@using (@Html.BeginForm("Change", "Constant", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <center>
        @for (int i = 0; i < Model.Count; i++)
        {
        <div class="form-group">
            @Html.HiddenFor(Model => Model[i].Key)
            @Html.LabelFor(Model => Model[i].Value, Model[i].Key, new { @class = "col-md-2" })

            @Html.TextBoxFor(Model => Model[i].Value, new { @class = "col-md-3 form-control" })
        </div>
        }
        <input type="submit" value="CHANGE" class="btn btn-default" />
    </center>
}