﻿@{
    ViewBag.Title = "Login/Register";
}
@Html.Partial("~/Views/Shared/_StatusMessage.cshtml")
<section class="header_text sub">
    <img class="pageBanner" src="~/Content/themes/images/pageBanner.png" alt="New products">
    <h4><span>Login or Register</span></h4>
</section>
<section class="main-content">
    <div class="row">
        <div class="span6">
            <center>
                <a class="btn btn-inverse large" href="@Url.Action("Register","User")">REGISTER</a>

            </center>
        </div>
        <div class="span6">
            <center>
                <a class="btn btn-inverse large" href="@Url.Action("Login","User")">LOGIN</a>
            </center>
        </div>
    </div>
</section>
