﻿@model Aukcije.DataModel.User
@{ 
    ViewBag.Title = "Register";
}
@Html.Partial("~/Views/Shared/_StatusMessage.cshtml")

<section class="main-content">
    <div class="row">
        <div class="span12">
            <h4 class="title"><span class="text"><strong>Register</strong> Form</span></h4>
            @using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                <fieldset>
                    <div class="control-group">
                        <label class="control-label">First Name</label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.FirstName, new { @placeholder = "Enter your first name", @class="input-xlarge"})
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Last Name</label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.LastName, new { @placeholder = "Enter your last name", @class = "input-xlarge" })
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Email Address</label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Email, new { @placeholder = "Enter your email address", @class = "input-xlarge" })
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Password</label>
                        <div class="controls">
                            @Html.PasswordFor(model => model.Password, new { @placeholder = "Enter your password", @class="input-xlarge" })
                        </div>
                    </div>
                    <hr>
                    <div class="actions"><input tabindex="9" class="btn btn-inverse large" type="submit" value="Create your account"></div>
                </fieldset>
            }
        </div>
    </div>
</section>